*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

section.teamwork{
    display: flex;
    padding-top: 50px;
    align-items: center;
}


.img{
    width: 50%;
}
.img img{
    width: 100%;
}

.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 6%;
}

.carre {
    display: block;
    width: 20px;
    height: 20px;
    background: #28B7C5;
    margin: 20px 0 ;
}

.carre1{
    display: block;
    width: 15px;
    height: 15px;
    background: #28B7C5;
    margin: 20px 0 ;
}


.t1{
    display: block;
    width: 60px;
    height: 4px;
    background: #28B7C5;
}
.t2{
    display: block;
    width: 90px;
    height: 4px;
    background: #28B7C5;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container h1{
    font-size: 43px;

}

.container aside{
    text-align: end;
    width: 80%;
    font-size: 18px;
}

.container q{
    text-align: end;
    width: 85%;
    font-size: 40px;
    font-weight: 600;
    quotes: none;
}
.container p{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
}