/*HEADER*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}

/* HEADER */

#navig .logo img{
    width: 270px;
    z-index: 9999;
}

.logo{
    z-index: 999;
}

#navig{
    padding: 50px 150px 50px 210px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
}
#navig nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
#navig a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin: 30px;
}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
    z-index: 999;
	appearance: none;
	background: none;
	outline: none;
	border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color: grey;
	margin: 6px 0px;
	transition: 0.4s;
    display: none;
}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
	opacity: 0;
}

.mobile-nav {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #000000;
	transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav.is-active {
	left: 0;
}


.mobile-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 40px;
	text-align: center;
	padding: 12px 16px;
	background-color: #ffffff;
	color: #FFF;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #8e8e8e;
}

@media screen and (max-width: 1000px) {
    .fixed img{
        display: none;
    }
    nav ul li{
        display: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        display: block;
    }
    #navig{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    

}

/* LOGO FIXE GAUCHE */

.fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 30px;
}

.fixed img{
    width: 35px;
    margin-bottom: 45px;
}
.fixed ul li{
    list-style-type: none;
}
#navig .logo img {
  width: 270px;
}

#navig {
  padding: 50px 150px 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navig a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin: 30px;
  font-size: 18px;
}

.fixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 30px;
}

.fixed img {
  width: 35px;
  margin-bottom: 45px;
}

#navig .logo img {
  width: 270px;
}

#navig {
  padding: 50px 150px 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navig a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  margin: 30px;
  font-size: 18px;
}

.fixed {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 40%;
  left: 30px;
}

.fixed img {
  width: 35px;
  margin-bottom: 45px;
}

/*Section teamwork*/

section.teamwork{
    display: flex;
    padding-top: 50px;
    align-items: center;
}

.img{
    width: 50%;
}
.img img{
    width: 100%;
}

.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 6%;
}

.carre {
    display: block;
    width: 20px;
    height: 20px;
    background: #28B7C5;
    margin: 20px 0 ;
}

.carre1{
    display: block;
    width: 15px;
    height: 15px;
    background: #28B7C5;
    margin: 20px 0 ;
}


.t1{
    display: block;
    width: 60px;
    height: 4px;
    background: #28B7C5;
}
.t2{
    display: block;
    width: 90px;
    height: 4px;
    background: #28B7C5;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container h1{
    font-size: 43px;

}

.container aside{
    text-align: end;
    width: 80%;
    font-size: 18px;
}

.container q{
    text-align: end;
    width: 85%;
    font-size: 40px;
    font-weight: 600;
    quotes: none;
}
.container p{
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* Section classe */

.classe{
  display: flex;
  align-items: center;
}

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #28b7c5;
  margin: 15px 0;
}

.classe-content p{
  margin-bottom: 15px;
  font-size: 20px;
}

.classe-content {
  width: 50%;
  margin-left: 150px;
}

.classe-content h1 {
  margin-bottom: 0px;
  font-size: 30px;
}

.classe-img {
  width: 50%;
}

.classe-img img{
  width: 95%;
}

.classe-content .line-r {
  align-items: flex-start;
}

/*Section equipe*/

.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #28b7c5;
  margin: 15px 0;
}

.equipe {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.equipe .img-equipe {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.equipe .img-equipe img {
  width: 100%;
}

.equipe .equipe-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 150px;
}

.equipe .equipe-content p {
  text-align: end;
  font-size: 17px;
  width: 80%;
  margin-bottom: 20px;

}

.equipe .equipe-content h1 {
  margin-bottom: 0px;
  font-size: 30px;
}

button {
  width: 250px;
  border: 2px solid #28b7c5;
  margin: 10px 0px 30px;
  padding: 20px 20px;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
}

/*Section Contact*/

.contact {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.contact .img-contact {
  width: 50%;
  margin-right: 100px;
}

.contact input,
.contact textarea {
  width: 324px;
  border: 2px solid #28b7c5;
  margin: 2px;
  padding: 10px 15px;
  background-color: transparent;
}
.contact-form form .button button {
  width: 158px;
  border: 2px solid #28b7c5;
  margin: 2px;
  padding: 20px 20px;
  background-color: transparent;
  margin-top: 10px;
}

.contact h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.contact .img-contact img {
  width: 100%;
}

.line-1 {
  width: 15px;
  height: 15px;
  background: #28b7c5;
  display: inline-block;
}

.line-2 {
  width: 80px;
  height: 1px;
  background: #28b7c5;
  display: inline-block;
}

.line-3 {
  width: 60px;
  height: 1px;
  background: #28b7c5;
  display: inline-block;
}

.line {
  line-height: 8px;
}

.line-r {
  line-height: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*Partie Footer*/

hr.footer-line {
  width: 90%;
  text-align: center;
  background-color: #28b7c5;
  height: 1px;
  margin: auto;
  border: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 25px 100px;
}

footer nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.col-r {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.col-r button {
  padding: 10px 35px;
  font-size: 10px;
  background-color: transparent;
  border: 2px solid#28b7c5;
  cursor: pointer;
}

.col-m {
  display: flex;
  align-items: center;
}

.logo-footer {
  width: 100px;
  margin-bottom: 25px;
}

footer nav .cat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer nav .cat li {
  list-style: none;
}

footer nav .cat h2 {
  font-size: 16px;
  color: #28b7c5;
  margin-bottom: 10px;
}
