*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    scroll-behavior: smooth;
}

#navig .logo img{
    width: 270px;
}

#navig{
    padding: 50px 150px 50px 210px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#navig nav ul{
    display: flex;
    list-style: none;
}
#navig a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    margin: 30px;
    font-size: 18px;
}
.hbg{
    display: none;
}
.hbg span{
    width: 50px;
    height: 5px;
    background: black;
    display: block;
    cursor: pointer;
}
.hbg span:nth-child(2){
    margin-top: 7px;
}
.hbg span:nth-child(3){
    margin-top: 7px;
}
.hbg:hover{
    transform: scale(1.4);
}

@media screen and (max-width: 1000px) {
    .hbg{
        display: block;
    }
    #navig a{
        display: none;
    }
}
/* LOGO FIXE GAUCHE */

.fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 30px;
}

.fixed img{
    width: 35px;
    margin-bottom: 45px;
}
.fixed ul li{
    list-style-type: none;
}
